<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>Calculadora IP</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-controller="CalculatorController as $ctrl">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">      
      <a class="navbar-brand" style="cursor:default;">Calculadora IP</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="index.html">Individual</a></li>
      <li class="active"><a>Dos equipos</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>
<div class="container" style="width:1000px;">
  <div class="row">
    <div class="col-xs-6">
      <label class="radio-inline"><input type="radio" ng-model="base" value="0" ng-change="baseChange(base)">Decimal</label>
      <label class="radio-inline"><input type="radio" ng-model="base" value="1" ng-change="baseChange(base)">Binario</label>
    </div>
    <div class="col-xs-6">
      <label class="radio-inline"><input type="radio" ng-model="mask" value="0" ng-change="maskChange(mask)">Clases</label>
      <label class="radio-inline"><input type="radio" ng-model="mask" value="1" ng-change="maskChange(mask)">CIDR</label>    
    </div>
  </div>
  <div ng-show="base == 0" class="row top-20">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-xs-2">Dirección IP:</label>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-model="ip_1" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('ip_1')"/>
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-model="ip_2" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('ip_2')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-model="ip_3" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('ip_3')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-model="ip_4" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('ip_4')">
        </div>
        
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-xs-2">Máscara de Subred:</label>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-disabled="mask == 0" ng-model="ms_1" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('ms_1')"/>
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-disabled="mask == 0" ng-model="ms_2" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('ms_2')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-disabled="mask == 0" ng-model="ms_3" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('ms_3')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-disabled="mask == 0" ng-model="ms_4" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('ms_4')">
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
          <select ng-show="mask == 0" ng-change="selected_class()" class="form-control" name="mySelect" id="mySelect" ng-options="option.name for option in data.availableOptions track by option.id" ng-model="data.selectedOption"></select>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="base == 1" class="row top-20">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-xs-2">Dirección IP:</label>
        <div class="col-xs-2 width-90 m-right-10">
          <input ng-model="ip_1_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('ip_1_b')"/>
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-model="ip_2_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('ip_2_b')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-model="ip_3_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('ip_3_b')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-model="ip_4_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('ip_4_b')">
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-xs-2">Máscara de Subred:</label>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-disabled="mask == 0" ng-model="ms_1_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('ms_1_b')"/>
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-disabled="mask == 0" ng-model="ms_2_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('ms_2_b')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-disabled="mask == 0" ng-model="ms_3_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('ms_3_b')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-disabled="mask == 0" ng-model="ms_4_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('ms_4_b')">
        </div>
        <div class="col-xs-2">
          <select ng-show="mask == 0" ng-change="selected_class()" class="form-control" name="mySelect" id="mySelect" ng-options="option.name for option in data.availableOptions track by option.id" ng-model="data.selectedOption"></select>
          <button ng-show="mask == 1 && base == 1" class="btn btn-info" ng-click="$ctrl.open('sm',1)">Cantidad de Unos</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="container" style="width:1000px;">
  <div ng-show="base == 0" class="row top-20">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-xs-2">Dirección IP:</label>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-model="zip_1" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('zip_1')"/>
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-model="zip_2" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('zip_2')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-model="zip_3" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('zip_3')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-model="zip_4" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('zip_4')">
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-xs-2">Máscara de Subred:</label>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-disabled="mask == 0" ng-model="zms_1" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('zms_1')"/>
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-disabled="mask == 0" ng-model="zms_2" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('zms_2')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-disabled="mask == 0" ng-model="zms_3" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('zms_3')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-50 m-right-10">
          <input ng-disabled="mask == 0" ng-model="zms_4" limit-to="3" numbers-only select-on-click type="text" class="form-control width-50 ip-input" ng-blur="blur_d('zms_4')">
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
          <select ng-show="mask == 0" ng-change="zselected_class()" class="form-control" name="zmySelect" id="zmySelect" ng-options="option.name for option in zdata.availableOptions track by option.id" ng-model="zdata.selectedOption"></select>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="base == 1" class="row top-20">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-xs-2">Dirección IP:</label>
        <div class="col-xs-2 width-90 m-right-10">
          <input ng-model="zip_1_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('zip_1_b')"/>
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-model="zip_2_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('zip_2_b')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-model="zip_3_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('zip_3_b')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-model="zip_4_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('zip_4_b')">
        </div>
      </div>
    </div>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-xs-2">Máscara de Subred:</label>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-disabled="mask == 0" ng-model="zms_1_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('zms_1_b')"/>
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-disabled="mask == 0" ng-model="zms_2_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('zms_2_b')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-disabled="mask == 0" ng-model="zms_3_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('zms_3_b')">
        </div>
        <div class="col-xs-1 dot">.</div>
        <div class="col-xs-1 width-90 m-right-10">
          <input ng-disabled="mask == 0" ng-model="zms_4_b" limit-to="8" binary-only select-on-click type="text" class="form-control width-90 ip-input" ng-blur="blur('zms_4_b')">
        </div>
        <div class="col-xs-2">
          <select ng-show="mask == 0" ng-change="zselected_class()" class="form-control" name="mySelect" id="mySelect" ng-options="option.name for option in zdata.availableOptions track by option.id" ng-model="zdata.selectedOption"></select>
          <button ng-show="mask == 1 && base == 1" class="btn btn-info" ng-click="$ctrl.open('sm',2)">Cantidad de Unos</button>
        </div>
      </div>
    </div>
  </div>
  <div class="form-horizontal">
    <div class="form-group">
      <div class="control-label col-xs-2"><button class="btn btn-info" ng-click="calculate()">Calcular</button></div>
    </div>
  </div>
</div>
<hr />
<div class="container" style="width:1000px;">
  <div class="row">
    <h3 style="margin-left:200px;">Resultados</h3>
    <dl class="dl-horizontal">
      <dt>Network ID PC1:</dt>
      <dd>{{networkId}}</dd>
      <dt>Host ID PC1:</dt>
      <dd>{{hostId}}</dd>
      <dt>Network ID PC2:</dt>
      <dd>{{znetworkId}}</dd>
      <dt>Host ID PC2:</dt>
      <dd>{{zhostId}}</dd>
      <dt>Conclusiones:</dt>
      <dd>{{conclusion}}</dd>
    </dl>
  </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Elige la cantidad de unos!</h3>
  </div>
  <div class="modal-body" id="modal-body">
      <div class="col-xs-3 top-5" ng-repeat="item in $ctrl.items">
        <button class="btn btn-sm btn-primary" ng-click="$ctrl.ok(item)">{{item}}</button>
      </div>
  </div>
  <div class="modal-footer">
  </div>
</script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="js/production/app2.js"></script>
</body>
</html>